.navbar {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidenav{
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    font-size: 25px;
    display: block;
}

.sidenav a:hover{
    color: #f1f1f1;
}


.main{
    margin-left: 160px;
    padding: 0px 10px;
}

h1{
    color: #444444;
    text-align: center;
}
h4{
    text-align:center;
}

.sidenav .username{
    text-align: center;
    font-size: 30px;
    color: #f3f;
}
#my-svg {
    margin-bottom: 5px; 
}
